.luna-pane {
  min-width: 0;
  box-sizing: border-box;
  border-color: rgba(108, 122, 171, 0.28);
  border-style: solid;
  border-width: 0;
}

.luna-pane[data-border="true"] {
  border-width: 1px;
}

.luna-pane[data-border-top="true"] {
  border-top-width: 1px;
}

.luna-pane[data-border-right="true"] {
  border-right-width: 1px;
}

.luna-pane[data-border-bottom="true"] {
  border-bottom-width: 1px;
}

.luna-pane[data-border-left="true"] {
  border-left-width: 1px;
}
